@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

.movie-card {
    perspective: 1000px; /* Adds depth to the 3D effect */
  }
  
  .movie-card:hover .movie-card-inner {
    transform: rotateY(20deg); /* Tilts the card on hover */
  }
  
  .movie-card-inner {
    transition: transform 0.5s;
    transform-style: preserve-3d; /* Ensures children are positioned in 3D space */
  }